.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  font-weight: 700;
  margin-top: 20px;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  --radius: 3px;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -39px auto 0 411px;
  padding: 7px 26px 8px 25px;
}

.u-section-1 .u-icon-1 {
  font-size: 0.7em;
}

.u-section-1 .u-text-3 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-btn-2 {
  --radius: 3px;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -34px auto 0 411px;
  padding: 7px 26px 8px 25px;
}

.u-section-1 .u-icon-2 {
  font-size: 0.7em;
}

.u-section-1 .u-text-4 {
  margin: 15px auto 0 0;
}

.u-section-1 .u-btn-3 {
  --radius: 3px;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -29px auto 60px 411px;
  padding: 7px 26px 8px 25px;
}

.u-section-1 .u-icon-3 {
  font-size: 0.7em;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-left: 211px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 211px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 211px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }
}